@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    ViewBag.Title = "creditnoteList";
}


<h1 class="card-title" style="text-align:center;font-size:3em">折讓單查詢</h1>
<hr>
<div style="height:12px"></div>
<table class="table">
    <thead class="table-dark">
        <tr>
        <th>
            訂單編號
        </th>
        <th>
            發票日期
        </th>
        <th>
            發票號碼
        </th>
        <th>
            發票金額
        </th>
            <th>

            折讓金額(含稅)
        <th>
            折讓原因
        </th>
         <th>
               折讓單
         </th>
        </tr>

    </thead>
    <tbody>
        <tr>
        <td>
            13
        </td>
        <td>
            2022-10-24
        </td>
        <td>
                ED02711599
        </td>
        <td>
            17,900
        </td>
            <td>
            1,790
            <td>
            客戶本月採購預算不足，併至下月採購
            </td>
                    <td class="no-print">
                <a href="https://images.plurk.com/1zGao5Q4T8jXjiomJxX9Zf.png" target="_blank" class="btn btn-secondary no-print">
                            <i class="bi bi-collection no-print "></i>
                                                </a>
                    </td>
        </tr>

                <tr>
        <td>
            42
        </td>
        <td>
            2022-12-30
        </td>
        <td>
                GL93629899
        </td>
        <td>
            2,796
        </td>
            <td>

                2,796
        <td>
            換貨
        </td>
            <td class="no-print">
                <a href="https://images.plurk.com/1f1tmBKXy7OgGeRQnsB8Dr.png" target="_blank" class="btn btn-secondary no-print">
                    <i class="bi bi-collection no-print "></i>
                </a>
            </td>
        </tr>


                <tr>
        <td>
            50
        </td>
        <td>
            2022-12-26
        </td>
        <td>
                GM74195862
        </td>
        <td>
            29,190
        </td>
            <td>

            1,390
        <td>
            外盒盒損
        </td>
            <td class="no-print">
                <a href="https://images.plurk.com/4xZNerbSBcK00h0He6w9tO.png
" target="_blank" class="btn btn-secondary no-print">
                    <i class="bi bi-collection no-print "></i>
                </a>
            </td>
        </tr>


                <tr>
        <td>
            56
        </td>
        <td>
            2023-02-01
        </td>
        <td>
            WH23118957
        </td>
        <td>
                2,090
        </td>
            <td>
                2,090
            </td>

        <td>
            換貨
        </td>
               <td class="no-print">
                <a href="https://images.plurk.com/3z7JXHsL0OI6rWKuozLW0g.png
" target=   "_blank" class="btn btn-secondary no-print">
                    <i class="bi bi-collection no-print "></i>
                </a>
            </td>

            
        </tr>

        <tr>
            <td>
                76
            </td>
            <td>
                2023-02-02
            </td>
            <td>
                WU36985745
            </td>
            <td>
                17,580
            </td>
            <td>

                17,580
            <td>
                客戶反應配件缺件，待查驗
            </td>
               <td class="no-print">
                <a href="            https://images.plurk.com/3cK3Ut8PTXKIaTwZ6naPCg.png
" target=   "_blank" class="btn btn-secondary no-print">
                    <i class="bi bi-collection no-print "></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>
