@model play2.ViewModels.CreateCompMemberViewModel

@{
    ViewData["Title"] = "法人會員註冊";
}

<div class="container">
    <ul class="nk-breadcrumbs">
        <li><a asp-controller="Home" asp-action="Index">Play2</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        <li><a asp-controller="Register" asp-action="ChooseType">會員類型</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        <li><span>法人會員註冊</span></li>
    </ul>
</div>


<div class="d-flex justify-content-center">

              <div class="card bg-transparent mb-3" style="width:25rem;">
                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h3 class="card-title text-center">加入會員</h3>
                    <p class="text-center">設定會員信箱及密碼</p>
                  </div>

                  <form name="myform" id="myform" method="post" class="row g-3" autocomplete="off">   
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12">
                      <label for="LoginEmail" class="form-label">帳號(Email)<span class="text-main-1">*</span></label>
                      <input asp-for="LoginEmail" class="form-control">   
                      <span id="idLoginEmail" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                      <label for="LoginPw" class="form-label">密碼<span class="text-main-1">*</span></label>
                      <input asp-for="LoginPw" type="password" class="form-control">     
                      <span id="idLoginPw" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                      <label for="CheckPw" class="form-label">確認密碼<span class="text-main-1">*</span></label>
                      <input asp-for="CheckPw" type="password" class="form-control">  
                      <span id="idCheckPw" class="text-danger"></span>
                    </div>        

                    <div class="col-12">
                      <label for="CompanyName" class="form-label">公司名稱<span class="text-main-1">*</span></label>
                      <input asp-for="CompanyName" class="form-control">  
                      <span id="idCompanyName" class="text-danger"></span>
                    </div>   

                    <div class="col-12">
                      <label for="PrincipalMan" class="form-label">負責人姓名<span class="text-main-1">*</span></label>
                      <input asp-for="PrincipalMan" class="form-control">  
                      <span id="idPrincipalMan" class="text-danger"></span>
                    </div>  

                    <div class="col-12">
                      <label for="TaxIdnumber" class="form-label">統一編號<span class="text-main-1">*</span></label>
                      <input asp-for="TaxIdnumber" class="form-control">  
                      <span id="idTaxIdnumber" class="text-danger"></span>
                    </div>  

                    <div class="col-12">
                      <label for="Phone" class="form-label">公司電話<span class="text-main-1">*</span></label>
                      <input asp-for="Phone" class="form-control">  
                      <span id="idPhone" class="text-danger"></span>
                    </div>   

                    <div class="col-12">
                      <label for="Addrest" class="form-label">公司地址<span class="text-main-1">*</span></label>
                      <input asp-for="Addrest" class="form-control">  
                      <span id="idAddrest" class="text-danger"></span>
                    </div>  

                    <div class="col-12">
                        <label class="form-label">公司帳戶</label>
                        <div class=" d-inline-flex">
                            <input asp-for="SwiftCode" class="form-control" style="width:25%" placeholder="銀行代碼">
                            <span style="font-size:20px">－</span>
                            <input asp-for="BankAccount" class="form-control" style="width:70%" placeholder="帳戶">
                        </div>
                    </div>       

                    <div class="col-12 my-2">
                      <button id="sub" class="btn btn-warning w-100" type="button">下一步，信箱驗證</button>
                    </div>

                    <div class="col-12 my-2">
                        <button id="btndemo" class="btn btn-danger w-100" type="button">Demo</button>
                    </div>

                    <div class="col-12">
                      <p class="small mt-1">已經是普雷迷了? <a asp-action="Index" asp-controller="Home" data-toggle="modal" data-target="#modalLogin">登錄</a></p>
                    </div>
                  </form>

                </div>
              </div>
          </div>


                @section Scripts{
                <script>


                    $("#sub").on("click",function(){ 
                        $("#sub").attr("disabled","disabled");
                        var a=true;
                        if($("#LoginEmail").val()==""||$("#LoginPw").val()==""||$("#CheckPw").val()==""|| 
                           $("#CompanyName").val()==""||$("#PrincipalMan")==""||$("#TaxIdnumber").val()==""||
                           $("#Phone")==""||$("#Addrest")==""){
                            $("#idSmallModalAlertTitle").text("有資料未輸入");                            
                            $("#idSmallModalAlert").modal("show");
                            a=false;           
                            $("#sub").removeAttr("disabled");
                        }

                        if(a==true){
                            var formData=new FormData(document.myform);
                            $.ajax({
                            url:`@Url.Content("~/Register/CreCompMem")`,
                            type:"POST",
                            data:formData,
                            dataType:"text",
                            contentType: false, 
                            processData: false 
                            }).done((data)=>{
                            if(data==="n"){
                               $("#idSmallModalAlertTitle").text("有資料未輸入");                               
                               $("#idSmallModalAlert").modal("show"); 
                               $("#sub").removeAttr("disabled");
                            }
                            else if(data==="f"){
                               $("#idSmallModalAlertTitle").text("此信箱已註冊");                               
                               $("#idSmallModalAlert").modal("show");                  
                               $("#sub").removeAttr("disabled");
                            }
                            else if(data==="i"){
                                $("#idSmallModalAlertTitle").text("此統一編號已註冊");                                
                                $("#idSmallModalAlert").modal("show");                                
                                $("#sub").removeAttr("disabled");
                            }
                            else if(data==="y")                         
                              location.href="@Url.Content("~/Register/CompVerify")";                        
                            })
                        }
                    });


                 $("#btndemo").on("click",()=>{
                    $("#LoginEmail").val("etral3339@gmail.com");
                    $("#LoginPw").val("123456");
                    $("#CheckPw").val("123456");
                    $("#CompanyName").val("普雷三公司");
                    $("#PrincipalMan").val("藝志莊");
                    $("#TaxIdnumber").val("11223344");
                    $("#Phone").val("0915324585");
                    $("#Addrest").val("台北市士林區")
                    $("#SwiftCode").val("087");
                    $("#BankAccount").val("12345678910")
                });
                </script>
          }
