@{
    ViewData["Title"] = "Play2首頁";
}


<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="index.html" class="nk-nav-logo">
                <img src="~/assets/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->



<div class="nk-main">

    <div class="nk-gap-2"></div>



    <div class="container">

        <!-- START: Image Slider -->
        <div class="nk-image-slider" data-autoplay="3000">


            <div class="nk-image-slider-item">
                <img src="~/assets/images/航海王.gif" alt="" class="nk-image-slider-img" data-thumb="~/assets/images/航海王.gif">

                <div class="nk-image-slider-content">

                    <h3 class="h4">《ONE PIECE 時光旅詩》</h3>
                    <p class="text-white">
                        原著及動畫皆深受大眾喜愛的「ONE PIECE」，紀念連載25週年推出全新RPG！
                        航海途中遭遇猛烈暴風雨的草帽一行人，漂流至一座山林蓊鬱被暴風雨包圍的神秘小島「瓦弗洛德」。 大夥在島上遇見厭惡海賊的少女莉姆，
                        她擁有特殊力量，可以在觸碰時奪走所碰對象的能力。
                        於是眾人不慎被奪走的力量化為魂晶，四散到整座島上。
                        但也因為少女，草帽一行人得以回到「記憶中的場所」，
                        開始一場前所未見的「偉大冒險」——
                    </p>
                    <a href="~/Commodity/Details/108" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">了解更多</a>

                </div>

            </div>



            <div class="nk-image-slider-item">
                <img src="~/assets/images/世界越野冠軍賽.JPG" alt="" class="nk-image-slider-img" data-thumb="~/assets/images/世界越野冠軍賽.JPG">

                <div class="nk-image-slider-content">

                    <h3 class="h4">《世界越野冠軍賽 世代》</h3>
                    <p class="text-white">2022 年 WRC 將過渡到混合動力時代。這對拉力賽世界來說是一場革命，顯著影響性能、改變策略，並使駕駛和車隊適應。在遊戲玩法方面，新機制已整合成代表混合動力引擎的需求。為了取勝，你必須在所參加的特別賽段中，藉由調整引擎計畫，謹慎管理電池。對於喜愛競賽的玩家來說，新的聯賽模式讓玩家可以在線上挑戰旗鼓相當的對手。比競爭對手先行完賽，往傳奇賽級更上一層樓。</p>
                    <a href="~/Commodity/Details/115" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">了解更多</a>

                </div>

            </div>

            <div class="nk-image-slider-item">
                <img src="~/assets/images/午夜之子.JPG" alt="" class="nk-image-slider-img" data-thumb="~/assets/images/午夜之子.JPG">

                <div class="nk-image-slider-content">

                    <h3 class="h4">《漫威午夜之子》</h3>
                    <p class="text-white">終極跨界之作，融合了角色扮演遊戲的豐富故事、角色關係、自訂選項與進展，加上革命性全新卡牌制戰術遊戲的戰術策略與戰鬥機制。在以漫威宇宙黑暗面為背景的這款遊戲中，玩家將與傳奇漫威超級英雄和超自然戰士締造牢不可破的羈絆，以對抗迄今為止世界上最巨大的威脅：莉莉絲和上古之神桑恩的冥界大軍。</p>
                    <a href="~/Commodity/Details/143" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">了解更多</a>

                </div>

            </div>

            <div class="nk-image-slider-item">
                <img src="~/assets/images/黑白莫比烏斯.jpg" alt="" class="nk-image-slider-img" data-thumb="~/assets/images/slide-1.jpg">

                <div class="nk-image-slider-content">

                    <h3 class="h4">《黑白莫比烏斯 歲月的代價》</h3>
                    <p class="text-white">
                        為紀念《受讚頌者》20 週年所發表的系列新作《黑白莫比烏斯 歲月的代價》，是由製作人下川直哉親自監導，菅宗光進行劇本製作，並交由 mi 設計出活靈活現的劇中角色。故事舞台發生在隸屬於大國大和的偏鄉之地「恩那卡姆依」，有位青年與母親及妹妹三人在此處相依為命。某天，當青年受大和國王皇帝之令，前往調查微小異變的途中，遇見了一位充滿謎團的少女，少女卻對青年說出了一個驚人的事實：自己認為早就去世的父親，現在還活著。

                        在少女身上尋得父親身影的青年，為了得知真相而決定離開家鄉、前往地圖上沒有記載的神祕國度「阿瓦什蘭」追逐父親的腳印。在經歷了四處奔走、歷經起伏、與眾多夥伴相知相惜，受到挫折並迎來別離⋯⋯ 多舛的命運，終將把青年迎接到歲月的洪流當中，最後成為眾人傳唱的「受讚頌者」的故事。
                    </p>
                    <a href="~/Commodity/Details/126" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">了解更多</a>

                </div>

            </div>








        </div>
        <!-- END: Image Slider -->
        <!-- START: Categories -->
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap">
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/icon-mouse.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="~/Commodity/ProList/1">PC 與 XBox 系列</a></h3>
                        <h3 class="nk-feature-title text-main-1" style="font-size: 1.7em"><a href="~/Commodity/ProList/1">搶先看</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/icon-gamepad.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="~/Commodity/ProList/2">PS 系列</a></h3>
                        <h3 class="nk-feature-title text-main-1" style="font-size: 1.7em"><a href="~/Commodity/ProList/2">搶先看</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="~/assets/images/icon-gamepad-2.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="~/Commodity/ProList/3">NS 系列</a></h3>
                        <h3 class="nk-feature-title text-main-1" style="font-size: 1.7em"><a href="~/Commodity/ProList/3">搶先看</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Categories -->

        <div class="nk-gap-2"></div>
        <div class="row vertical-gap">
            <div class="col-lg-8">

                <!-- START: Tabbed News  -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">2023</span> 普雷二精彩內容</span></h3>
                <div class="nk-gap"></div>
                <div class="nk-tabs">
                    <!--
                        Additional Classes:
                            .nav-tabs-fill
                    -->
                    <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">動作</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">角色扮演</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">策略</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-4" role="tab" data-toggle="tab">冒險</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-5" role="tab" data-toggle="tab">競賽</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                            <div class="nk-gap"></div>
                            <!-- START: Action Tab -->


                            <div class="nk-blog-post nk-blog-post-border-bottom">
                                <a href="~/Commodity/Details/105" class="nk-post-img">
                                    <img src="~/assets/images/熱血少女.jpg" alt="熱血少女">

                                    <span class="nk-post-categories">
                                        <span class="bg-main-1">Action</span>
                                    </span>

                                </a>
                                <div class="nk-gap-1"></div>
                                <h2 class="nk-post-title h4"><a href="~/Commodity/Details/105">《熱血硬派國夫君外傳 熱血少女 2》</a></h2>
                                <div class="nk-post-date mt-10 mb-10">
                                    <span class="fa fa-calendar"></span> Dec 22, 2022
                                </div>
                                <div class="nk-post-text">
                                    <p>《熱血硬派國夫君外傳 熱血少女 2》是於 2019 年推出的《熱血硬派國夫君外傳 熱血少女》的後續作品，故事內容以與可愛的外表相反，對華麗的格鬥技巧引以為傲的「美佐子」與「京子」二人為主角，而展開一連串故事的橫向卷軸動作遊戲。本作不僅保有華麗的動作、爽快的操作手感和強化角色等前作的優點，還新增了迷你遊戲和多種任務等。另外，本作除了將增加 100 個以上的追加關卡、前來支援戰鬥的 100 多名助攻角色之外，還增加了新的可遊玩角色，展現超越前作的遊戲份量及趣味性，更加入了《熱血少女》系列獨有的搞笑漫畫風過場畫面與動畫演出等。</p>
                                </div>
                            </div>






                            <!-- END: Action Tab -->
                            <div class="nk-gap"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                            <div class="nk-gap"></div>
                            <!-- START: MMO Tab -->


                            <div class="nk-blog-post nk-blog-post-border-bottom">
                                <a href="~/Commodity/Details/119" class="nk-post-img">
                                    <img src="~/assets/images/皇家騎士團.jpg" alt="皇家騎士團">

                                    <span class="nk-post-categories">
                                        <span class="bg-main-1">MMO</span>
                                    </span>

                                </a>
                                <div class="nk-gap-1"></div>
                                <h2 class="nk-post-title h4">
                                    <a href="~/Commodity/Details/119">《皇家騎士團 2：重生（Tactics Ogre: Reborn）》</a>
                                </h2>
                                <div class="nk-post-date mt-10 mb-10">
                                    <span class="fa fa-calendar"></span> Aug 12, 2022
                                </div>
                                <div class="nk-post-text">
                                    <p>
                                        《QUARE ENIX 宣布，戰略模擬角色扮演遊戲《皇家騎士團 2：重生（Tactics Ogre: Reborn）》預計將於 11 月 11 日在 PS5 / PS4 / Nintendo Switch 平台、11 月 12 日在 Steam（PC）平台推出，皆支援繁體中文。官方同時公布遊戲世界觀、故事背景、登場角色以及重生版新特色等詳細資訊，供玩家參考。　
                                        <br>
                                        位於奧佩羅海的瓦瑞利亞島 —— 這座島自古作為海洋貿易的中轉站而繁榮，但各個民族卻為了搶奪霸權爭戰不休。有個男人替這場漫長的戰爭劃下了句點。他就是往後人稱霸王的杜迦盧亞。杜迦盧亞王努力消解民族間的對立，他的統治為瓦瑞利亞帶來了長達半世紀的繁榮。

                                        然而在國王死後，貴族階級巴格拉姆人、佔人口大多數的嘉爾加斯坦人以及少數民族威斯塔人這三個民族因繼承問題開始搶奪霸權，使瓦瑞利亞再次陷入內亂狀態。最後內戰以巴格拉姆陣營和嘉爾加斯坦陣營將島嶼一分為二的形式暫時平靜了下來，但所有人都心知肚明，這不過是暴風雨前的寧靜而已……。
                                    </p>
                                </div>
                            </div>



                            <!-- END: MMO Tab -->
                            <div class="nk-gap"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                            <div class="nk-gap"></div>
                            <!-- START: Strategy Tab -->


                            <div class="nk-blog-post nk-blog-post-border-bottom">
                                <a href="~/Commodity/Details/120" class="nk-post-img">
                                    <img src="~/assets/images/牧場物語.jpg" alt="牧場物語">

                                    <span class="nk-post-categories">
                                        <span class="bg-main-3">Strategy</span>
                                    </span>

                                </a>
                                <div class="nk-gap-1"></div>
                                <h2 class="nk-post-title h4"><a href="~/Commodity/Details/120">《哆啦A夢 牧場物語 自然王國與和樂家人》</a></h2>
                                <div class="nk-post-date mt-10 mb-10">
                                    <span class="fa fa-calendar"></span> Nov 02, 2022
                                </div>
                                <div class="nk-post-text">
                                    <p>
                                        本作除了能體驗「牧場物語」系列特有的種植作物和照料動物之外，還有許多活用「哆啦A夢」「祕密道具」的樂趣！本作還加上了許多新遊玩要素，以及全新的溫馨故事。<br><br>

                                        ■既有療癒內心的場所，也有眾人的家──
                                        大雄一行人來到了陌生的星球，遇見了當地的少年萊特。為了幫助萊特實現夢想，大家一起住在牧場並幫忙復興牧場。還有參加煙火大會、觀看星空、以及早起看元旦日出等活動。跟大家一起度過，編織出無可取代的每一天吧。
                                        <br><br>
                                        ■用「祕密道具」來幫助牧場生活
                                        只要用哆啦A夢的「祕密道具」，牧場生活就能變得輕鬆便利！
                                        像用「迷你雨雲」來幫大量作物澆水，「農場餐點」來收成料理等等。活用各種「祕密道具」，讓牧場變得更加熱鬧吧！
                                        除了上述道具之外，本作還能用「竹蜻蜓」和「雲朵凝固瓦斯」來在雲上做出庭院，以及用「適應燈」進入海中養殖珍珠，具備更豐富更充滿夢想的牧場生活。
                                        <br><br>
                                        ■美麗遼闊，治癒心靈的世界
                                        如同故事書中的世界，在追加更加真實的自然光線、風與環境音效等表現後，世界變得更加動人。
                                        一片黃金的小麥田，海角眺望的水平線，神秘氣息的森林等等，遊戲中有各種充滿魅力的特色地區。遊戲場景還會隨著季節改變色彩，帶來既美麗又溫柔，讓人治癒心靈的世界。
                                        <br><br>
                                        ■兩人一起遊玩牧場生活
                                        能用離線兩人遊玩，來跟家人或朋友一起享受牧場生活。
                                        除了能兩人一起做牧場的工作或是悠閒釣魚，要是碰上一個人拔不起來的巨大蔬菜，靠兩個人合作應該就拔得起來了……？
                                    </p>
                                </div>
                            </div>






                            <!-- END: Strategy Tab -->
                            <div class="nk-gap"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-4">
                            <div class="nk-gap"></div>
                            <!-- START: Adventure Tab -->


                            <div class="nk-blog-post nk-blog-post-border-bottom">
                                <a href="~/Commodity/Details/132" class="nk-post-img">
                                    <img src="~/assets/images/黑相集.jpg" alt="黑相集：心中魔">

                                    <span class="nk-post-categories">
                                        <span class="bg-main-1">Adventure</span>
                                    </span>

                                </a>
                                <div class="nk-gap-1"></div>
                                <h2 class="nk-post-title h4"><a href="~/Commodity/Details/132">《黑相集：心中魔》</a></h2>
                                <div class="nk-post-date mt-10 mb-10">
                                    <span class="fa fa-calendar"></span> Dec 21, 2022
                                </div>
                                <div class="nk-post-text">
                                    <p>
                                        歡迎來到黑相集<br>
                                        由知名電影式恐怖遊戲系列《直到黎明》工作團隊製作。獨自一人或與朋友就可以很快簡單上手遊玩。《心中魔》是此系列的第4部及本季的終章。<br>

                                        紀錄片劇組收到一個神秘邀請，前往參觀連環殺手H·H·福爾摩斯「謀殺城堡」的複製品。這正是他們想嬴取大眾注意力的一個千載難逢的好機會。<br>

                                        旅館就簡直就是為影集而設的完美設定，然而情況卻並非如他們所見。劇組發現自己正被監視著，突然間他們自身處境比起收視率還更加岌岌可危！<br><br>

                                        歡迎來到謀殺旅館！<br>
                                        一切都不像外表所見，所有娛樂消遣的便利設施都是為死亡所設！藉由這季終章內的全新要素來探索「博覽會旅館」的每個角落，包括角色道具欄、利用工具解開謎題以及新增像是奔跑、跳躍和攀爬等動作。<br>

                                        你的死亡由他所設<br>
                                        逃離自於邪惡野獸設下的痛苦折磨，這人一心想成全美國最致命的連環殺手。並想盡辦法在精心設計的「殺人房」中活下來，你的死亡皆來自於他的設計。<br>

                                        別一個人玩！<br>
                                        忍受殘酷的忠誠大考驗，你會為你關心的人甘冒生命危險嗎？廣受好評的兩種多人模式回歸：與朋友線上分享您的故事，或以活命為目標由5名玩家使用同一控制器，輪流操作各自的角色進行遊戲。<br><br>

                                        你能比殺手更聰明並確保你所有成員嗎？所有可操作角色都可以在屬於您的故事中活下來或是死亡。
                                        希望您入住愉快。
                                    </p>
                                </div>
                            </div>


                            <!-- END: Adventure Tab -->
                            <div class="nk-gap"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-5">
                            <div class="nk-gap"></div>
                            <!-- START: Racing Tab -->


                            <div class="nk-blog-post nk-blog-post-border-bottom">
                                <a href="~/Commodity/Details/101" class="nk-post-img">
                                    <img src="~/assets/images/極速快感.jpg" alt="極速快感">

                                    <span class="nk-post-categories">
                                        <span class="bg-main-5">Racing</span>
                                    </span>

                                </a>
                                <div class="nk-gap-1"></div>
                                <h2 class="nk-post-title h4"><a href="~/Commodity/Details/101">《極速快感™：桀驁不馴》</a></h2>
                                <div class="nk-post-date mt-10 mb-10">
                                    <span class="fa fa-calendar"></span> Dec 9, 2022
                                </div>
                                <div class="nk-post-text">
                                    <p>
                                        歡迎來到 Lakeshore City，這裡可是街頭車手的天堂。你的目標是要在一週內賺到足夠的現金，參加每週排位賽，升級並自訂自己的愛車以參加總決賽，最後贏得總額一百萬元的獎金。<br>
                                        風險與獎勵

                                        你得承擔巨大的風險，才能獲得豐厚獎勵。深入閱讀我們的「引擎蓋之下：追緝熱度飆升」一文，瞭解在 Lakeshore City 中接受挑戰、贏得報酬的方法。<br>
                                        在《極速快感™：桀驁不馴》中，我們將自訂功能提升到新的層次。打造獨特角色、自訂並升級自己的愛車、調整自己的駕駛效果，並高舉旗幟（僅限「Lakeshore 線上」），讓自己脫穎而出。<br>


                                        我們不僅與 Champion 和 Vans 等家喻戶曉的牌子合作，還有 PUMA 和 FILA 等鞋業巨擘、Palace 及 Born x Raised 等街頭服裝大牌，甚至還有像 Versace 這樣的傳奇大牌。深入閱讀我們關於車手自我表達的文章 ，然後進入遊戲，親眼看看！<br>
                                        全球嘻哈樂手打造出 70 多首歌曲原聲帶，為《Lakeshore City》的街頭狂飆營造出獨特氛圍。A$AP Rocky 的新歌曲、來自 AWGE 的音樂，以及 Brodinski 的原創歌曲，都將讓你找到流淌在樂音中的自由。
                                    </p>
                                </div>
                            </div>







                            <!-- END: Racing Tab -->
                            <div class="nk-gap"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-6">
                            <div class="nk-gap"></div>
                            <!-- START: Indie Tab -->
                            <!-- END: Indie Tab -->
                            <div class="nk-gap"></div>
                        </div>
                    </div>
                </div>
                <!-- END: Tabbed News -->
                <!-- START: Best Selling -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Best</span> 最熱銷</span></h3>
                <div class="nk-gap"></div>
                <div class="row vertical-gap">


                    <div class="col-md-6">
                        <div class="nk-product-cat">
                            <a class="nk-product-image" href="~/Commodity/Details/147">
                                <img src="~/assets/images/寶可夢朱.jpg" alt="寶可夢 朱">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="">寶可夢 朱</a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-price">$ 1,490</div>
                                <div class="nk-gap-1"></div>
                                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">加入購物車</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="nk-product-cat">
                            <a class="nk-product-image" href="~/Commodity/Details/146">
                                <img src="~/assets/images/寶可夢紫.jpg" alt="寶可夢 紫">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="~/Commodity/Details/146">寶可夢 紫</a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-price">$1,490</div>
                                <div class="nk-gap-1"></div>
                                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">加入購物車</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="nk-product-cat">
                            <a class="nk-product-image" href="~/Commodity/Details/109">
                                <img src="~/assets/images/justdance.jpg" alt="Just Dance 舞力全開 2023">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="~/Commodity/Details/109">Just Dance 舞力全開 2023</a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-price">$ 1,490</div>
                                <div class="nk-gap-1"></div>
                                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">加入購物車</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="nk-product-cat">
                            <a class="nk-product-image" href="~/Commodity/Details/153">
                                <img src="~/assets/images/10主機.jpg" alt="However, I have reason">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="~/Commodity/Details/153">Nintendo Switch 主機 </a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-price">$8,480</div>
                                <div class="nk-gap-1"></div>
                                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">加入購物車</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END: Best Selling -->
            </div>
            <div class="col-lg-4">
                <!--
                    START: Sidebar

                    Additional Classes:
                        .nk-sidebar-left
                        .nk-sidebar-right
                        .nk-sidebar-sticky
                -->
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget">
                        <div class="nk-widget-content">
                            <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <ul class="list-group" id="searchul" style="width:100%;background-color: #303e47">
                                        <li class="list-group-item" id="searchfirstli" style="width:100%;">
                                            <input type="text" id="searchlist" class=""autocomplete="off" style="border:0px;width:100%;height:100%" placeholder="搜尋精彩內容">
                                        </li>
                                    </ul>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> 最新上市</span></h4>
                        <div class="nk-widget-content">

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/109" class="nk-post-image">
                                    <img src="~/assets/images/justdance.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/109">Just Dance 舞力全開 2023</a></h3>
                                <div class="nk-post-date"><span class="fa fa-calendar"></span> Dec 22, 2022</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/110" class="nk-post-image">
                                    <img src="~/assets/images/太空戰士.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/110">太空戰士７緊急核心</a></h3>
                                <div class="nk-post-date"><span class="fa fa-calendar"></span> Dec 13, 2022</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/115" class="nk-post-image">
                                    <img src="~/assets/images/世界越野2.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/115">世界越野冠軍賽 Generations</a></h3>
                                <div class="nk-post-date"><span class="fa fa-calendar"></span> Nov 13, 2022</div>
                            </div>

                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">熱烈</span> 話題</span></h4>
                        <div class="nk-widget-content">

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/135" class="nk-post-image">
                                    <img src="~/assets/images/武士少女.jpg" alt="武士少女">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/135">SAMURAI MAIDEN -武士少女-</a></h3>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <div class="nk-product-price">$1,790</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/128" class="nk-post-image">
                                    <img src="~/assets/images/星際大戰lego.jpg" alt="星際大戰lego">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/128">LEGO 星際大戰 天行者傳奇銀河版</a></h3>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <div class="nk-product-price">$1,790</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="~/Commodity/Details/131" class="nk-post-image">
                                    <img src="~/assets/images/太空戰士.jpg" alt="太空戰士">
                                </a>
                                <h3 class="nk-post-title"><a href="~/Commodity/Details/131">太空戰士７緊急核心</a></h3>
                                <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <div class="nk-product-price">$1,490</div>
                            </div>

                        </div>
                    </div>

                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>

    <div class="nk-gap-4"></div>



    <!-- START: Footer -->
    @*        <footer class="nk-footer">

    <div class="container">
    <div class="nk-gap-3"></div>
    <div class="row vertical-gap">
    <div class="col-md-6">
    <div class="nk-widget">
    <h4 class="nk-widget-title"><span class="text-main-1"></span> 聯絡我們</h4>
    <div class="nk-widget-content">
    <form action="php/ajax-contact-form.php" class="nk-form nk-form-ajax">
    <div class="row vertical-gap sm-gap">
    <div class="col-md-6">
    <input type="email" class="form-control required" name="email" placeholder="Email *">
    </div>
    <div class="col-md-6">
    <input type="text" class="form-control required" name="name" placeholder="姓名 *">
    </div>
    </div>
    <div class="nk-gap"></div>
    <textarea class="form-control required" name="message" rows="5" placeholder="我想說......"></textarea>
    <div class="nk-gap-1"></div>
    <button class="nk-btn nk-btn-rounded nk-btn-color-white">
    <span>送出</span>
    <span class="icon"><i class="ion-paper-airplane"></i></span>
    </button>
    <div class="nk-form-response-success"></div>
    <div class="nk-form-response-error"></div>
    </form>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    </div>
    </div>
    <div class="nk-gap-3"></div>
    </div>

    <div class="nk-copyright">
    <div class="container">
    </div>
    </div>
    </footer>
    *@        <!-- END: Footer -->


</div>




<!-- START: Page Background -->

<img class="nk-page-background-top" src="~/assets/images/bg-top.png" alt="">
<img class="nk-page-background-bottom" src="~/assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->
<!-- START: Search Modal -->
<div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0">想要找什麼?</h4>

                <div class="nk-gap-1"></div>
                <form action="#" class="nk-form nk-form-style-1">
                    <input type="text" value="" name="search" class="form-control" placeholder="搜尋精彩內容" autofocus>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Search Modal -->
<!-- START: Login Modal -->
@section Scripts{
    <script>
        const searchlist = document.querySelector("#searchlist");
        const searchul = document.querySelector("#searchul ");
        const searchfirstli = document.querySelector("#searchfirstli ");

        $(':not(#searchul)').on("click",()=>{
            $('.searchli').remove();

        })
        searchlist.addEventListener("keyup", () => {
            $('.searchli').remove();
            if (searchlist.value!=null){
            search();
            }


        })


        async function search() {
            const response = await fetch(`@Url.Content("~/home/search?keyword=${searchlist.value}")`);
            const datas = await response.json();
            const item = datas.map(value => {
                const { commodityId, commodityName } = value;

                let a = document.createElement("a")
                a.href = `Commodity/Details/${commodityId}`;                          
                a.className += "list-group-item searchli"
                a.style.color="black"
                a.innerHTML = `${commodityName}`;
                searchul.append(a);





            })

        }



    </script>
}